In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import cross_val_score
from xgboost import XGBClassifier, XGBRFClassifier
from sklearn.ensemble import RandomForestClassifier, StackingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, StratifiedKFold
from sklearn.metrics import accuracy_score
from sklearn.ensemble import VotingClassifier
import warnings 
warnings.filterwarnings('ignore')

# 특성공학 (우버 택시)

데이터로드

In [3]:
df = pd.read_csv('cab_rides.csv', nrows=10000)
df.head()

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name
0,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared
1,0.44,Lyft,1543284023677,North Station,Haymarket Square,11.0,1.0,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier,Lux
2,0.44,Lyft,1543366822198,North Station,Haymarket Square,7.0,1.0,981a3613-77af-4620-a42a-0c0866077d1e,lyft,Lyft
3,0.44,Lyft,1543553582749,North Station,Haymarket Square,26.0,1.0,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv,Lux Black XL
4,0.44,Lyft,1543463360223,North Station,Haymarket Square,9.0,1.0,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus,Lyft XL

누락값

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   distance          10000 non-null  float64
 1   cab_type          10000 non-null  object
 2   time_stamp        10000 non-null  int64
 3   destination       10000 non-null  object
 4   source            10000 non-null  object
 5   price             9227 non-null   float64
 6   surge_multiplier  10000 non-null  float64
 7   id                10000 non-null  object
 8   product_id        10000 non-null  object
 9   name              10000 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 781.4+ KB

In [5]:
df[df.isna().any(axis=1)]

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name
18,1.11,Uber,1543673584211,West End,North End,NaN,1.0,fa5fb705-03a0-4eb9-82d9-7fe80872f754,8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a,Taxi
31,2.48,Uber,1543794776318,South Station,Beacon Hill,NaN,1.0,eee70d94-6706-4b95-a8ce-0e34f0fa8f37,8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a,Taxi
40,2.94,Uber,1543523885298,Fenway,North Station,NaN,1.0,7f47ff53-7cf2-4a6a-8049-83c90e042593,8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a,Taxi
60,1.16,Uber,1544731816318,West End,North End,NaN,1.0,43abdbe4-ab9e-4f39-afdc-31cfa375dc25,8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a,Taxi
69,2.67,Uber,1543583283653,Beacon Hill,North End,NaN,1.0,80db1c49-9d51-4575-a4f4-1ec23b4d3e31,8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a,Taxi
...,...,...,...,...,...,...,...,...,...,...
9949,1.08,Uber,1543272429665,North End,North Station,NaN,1.0,74fffcba-da67-42d1-b585-13d546a125be,8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a,Taxi
9953,2.46,Uber,1545045010035,Beacon Hill,Fenway,NaN,1.0,18c2e91d-d594-4a22-9be7-0a5829efa4bf,8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a,Taxi
9965,2.58,Uber,1544815809335,Beacon Hill,South Station,NaN,1.0,77adadfb-4ac7-4cdf-aeab-6c4cfe8f7b26,8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a,Taxi
9985,1.89,Uber,1544695512211,Beacon Hill,North End,NaN,1.0,f2dfa974-f9d1-4e90-a0e6-77f7eea16956,8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a,Taxi
9994,3.05,Uber,1543812777435,Fenway,North Station,NaN,1.0,66e1e3af-6e64-4045-8739-d5f114b21f47,8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a,Taxi

In [6]:
df.dropna(inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9227 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   distance          9227 non-null   float64
 1   cab_type          9227 non-null   object
 2   time_stamp        9227 non-null   int64
 3   destination       9227 non-null   object
 4   source            9227 non-null   object
 5   price             9227 non-null   float64
 6   surge_multiplier  9227 non-null   float64
 7   id                9227 non-null   object
 8   product_id        9227 non-null   object
 9   name              9227 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 792.9+ KB

In [8]:
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [distance, cab_type, time_stamp, destination, source, price, surge_multiplier, id, product_id, name]
Index: []

특성공학 - 타임스탬프 에러

In [9]:
df['date'] = pd.to_datetime(df['time_stamp'])
df.head()

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name,date
0,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared,1970-01-01 00:25:44.952607890
1,0.44,Lyft,1543284023677,North Station,Haymarket Square,11.0,1.0,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier,Lux,1970-01-01 00:25:43.284023677
2,0.44,Lyft,1543366822198,North Station,Haymarket Square,7.0,1.0,981a3613-77af-4620-a42a-0c0866077d1e,lyft,Lyft,1970-01-01 00:25:43.366822198
3,0.44,Lyft,1543553582749,North Station,Haymarket Square,26.0,1.0,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv,Lux Black XL,1970-01-01 00:25:43.553582749
4,0.44,Lyft,1543463360223,North Station,Haymarket Square,9.0,1.0,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus,Lyft XL,1970-01-01 00:25:43.463360223

In [16]:
df['date'] = pd.to_datetime(df['time_stamp']*(10**6))
df.head()

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name,date,month,hour,dayofweek,weekend,rush_hour
0,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared,2018-12-16 09:30:07.890,1,0,3,0,0
1,0.44,Lyft,1543284023677,North Station,Haymarket Square,11.0,1.0,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier,Lux,2018-11-27 02:00:23.677,1,0,3,0,0
2,0.44,Lyft,1543366822198,North Station,Haymarket Square,7.0,1.0,981a3613-77af-4620-a42a-0c0866077d1e,lyft,Lyft,2018-11-28 01:00:22.198,1,0,3,0,0
3,0.44,Lyft,1543553582749,North Station,Haymarket Square,26.0,1.0,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv,Lux Black XL,2018-11-30 04:53:02.749,1,0,3,0,0
4,0.44,Lyft,1543463360223,North Station,Haymarket Square,9.0,1.0,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus,Lyft XL,2018-11-29 03:49:20.223,1,0,3,0,0

In [20]:
import datetime as dt
df['month'] = df['date'].dt.month
df['hour'] = df['date'].dt.hour
df['dayofweek'] = df['date'].dt.dayofweek

In [21]:
def weekend(row):
  if row['dayofweek'] in [5, 6]:
    return 1
  else:
    return 0

In [22]:
df['weekend'] = df.apply(weekend, axis=1)

In [23]:
def rush_hour(row):
  if (row['hour'] in [6, 7, 8, 9, 15, 16, 17, 18]) & (row['weekend'] == 0):
    return 1
  else:
    return 0

In [24]:
df['rush_hour'] = df.apply(rush_hour, axis=1)

In [25]:
df.tail()

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name,date,month,hour,dayofweek,weekend,rush_hour
9995,3.05,Uber,1543504379037,Fenway,North Station,11.5,1.0,934d2fbe-f978-4495-9786-da7b4dd21107,997acbb5-e102-41e1-b155-9df7de0a73f2,UberPool,2018-11-29 15:12:59.037,11,15,3,0,1
9996,3.05,Uber,1543800477997,Fenway,North Station,26.0,1.0,af8fd57c-fe7c-4584-bd1f-beef1a53ad42,6c84fd89-3f11-4782-9b50-97c468b19529,Black,2018-12-03 01:27:57.997,12,1,0,0,0
9997,3.05,Uber,1543407083241,Fenway,North Station,19.5,1.0,b3c5db97-554b-47bf-908b-3ac880e86103,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,2018-11-28 12:11:23.241,11,12,2,0,0
9998,3.05,Uber,1544896813623,Fenway,North Station,36.5,1.0,fcb35184-9047-43f7-8909-f62a7b17b6cf,6d318bcc-22a3-4af6-bddd-b409bfce1546,Black SUV,2018-12-15 18:00:13.623,12,18,5,1,0
9999,2.03,Lyft,1543812781166,Theatre District,Northeastern University,7.0,1.0,7f0e8caf-e057-41eb-bdef-27eb14c88122,lyft_line,Shared,2018-12-03 04:53:01.166,12,4,0,0,0

특성 공학 - 범주형 데이터

In [27]:
df['cab_type'].value_counts()

Uber    4654
Lyft    4573
Name: cab_type, dtype: int64

In [28]:
df['cab_freq'] = df.groupby('cab_type')['cab_type'].transform('count')

In [29]:
df['cab_freq'] = df['cab_freq']/len(df)

In [30]:
df.tail()

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name,date,month,hour,dayofweek,weekend,rush_hour,cab_freq
9995,3.05,Uber,1543504379037,Fenway,North Station,11.5,1.0,934d2fbe-f978-4495-9786-da7b4dd21107,997acbb5-e102-41e1-b155-9df7de0a73f2,UberPool,2018-11-29 15:12:59.037,11,15,3,0,1,0.504389
9996,3.05,Uber,1543800477997,Fenway,North Station,26.0,1.0,af8fd57c-fe7c-4584-bd1f-beef1a53ad42,6c84fd89-3f11-4782-9b50-97c468b19529,Black,2018-12-03 01:27:57.997,12,1,0,0,0,0.504389
9997,3.05,Uber,1543407083241,Fenway,North Station,19.5,1.0,b3c5db97-554b-47bf-908b-3ac880e86103,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,2018-11-28 12:11:23.241,11,12,2,0,0,0.504389
9998,3.05,Uber,1544896813623,Fenway,North Station,36.5,1.0,fcb35184-9047-43f7-8909-f62a7b17b6cf,6d318bcc-22a3-4af6-bddd-b409bfce1546,Black SUV,2018-12-15 18:00:13.623,12,18,5,1,0,0.504389
9999,2.03,Lyft,1543812781166,Theatre District,Northeastern University,7.0,1.0,7f0e8caf-e057-41eb-bdef-27eb14c88122,lyft_line,Shared,2018-12-03 04:53:01.166,12,4,0,0,0,0.495611

# 다양한 앙상블 (암 데이터)

In [35]:
from sklearn.datasets import load_breast_cancer

In [37]:
X, y = load_breast_cancer(return_X_y=True)

In [38]:
kfold = StratifiedKFold(n_splits=5)

In [40]:
def classification_model(model):
  scores = cross_val_score(model, X, y ,cv=kfold)
  return scores.mean()

In [41]:
classification_model(XGBClassifier())

0.9648657040832168

In [42]:
classification_model(XGBClassifier(booster='gblinear'))

0.8910572892408011

In [43]:
classification_model(XGBClassifier(booster='dart', one_drop=True))

0.9613569321533924

In [44]:
classification_model(RandomForestClassifier(random_state=2))

0.9666356155876418

In [45]:
classification_model(LogisticRegression(max_iter=10000))

0.9525694767893184

In [46]:
classification_model(XGBClassifier(n_estimators=500, max_depth=2, learning_rate=0.1))

0.9701133364384411

In [47]:
def y_pred(model):
  model.fit(X_train, y_train)
  y_pred = model.predict(X_test)
  score = accuracy_score(y_pred, y_test)
  print(score)
  return y_pred

In [48]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2)

In [49]:
y_pred_gbtree = y_pred(XGBClassifier())

0.958041958041958

In [51]:
y_pred_dart = y_pred(XGBClassifier(booster='dart', one_drop=True))

0.9440559440559441

In [52]:
y_pred_forest = y_pred(RandomForestClassifier(random_state=2))

0.9370629370629371

In [53]:
y_pred_logistic = y_pred(LogisticRegression(max_iter=10000))

0.9370629370629371

In [54]:
y_pred_xgb = y_pred(XGBClassifier(max_depth=2, n_estimators=500))

0.965034965034965

In [55]:
df_pred = pd.DataFrame(data = np.c_[y_pred_gbtree, y_pred_dart,
                                    y_pred_forest, y_pred_logistic, y_pred_xgb],
                       columns = ['gbtree', 'dart', 'forest', 'logistic', 'xgb'])

In [56]:
df_pred.corr()

            gbtree      dart    forest  logistic       xgb
gbtree    1.000000  0.970994  0.927780  0.927777  0.956710
dart      0.970994  1.000000  0.927780  0.927777  0.956710
forest    0.927780  0.927780  1.000000  0.943308  0.913438
logistic  0.927777  0.927777  0.943308  1.000000  0.914111
xgb       0.956710  0.956710  0.913438  0.914111  1.000000

VotingClassifier

In [65]:
estimators=[]

In [58]:
logistic_model = LogisticRegression(max_iter=10000)

In [66]:
estimators.append(('logistic', logistic_model))

In [67]:
xgb_model = XGBClassifier(max_depth=2, n_estimators=500, learning_rate=0.1)
estimators.append(('xgb', xgb_model))
rf_model = RandomForestClassifier(random_state=2)
estimators.append(('rf', rf_model))

In [68]:
ensemble = VotingClassifier(estimators)

In [69]:
scores = cross_val_score(ensemble, X, y, cv=kfold)
print(scores.mean())

0.9771619313771154

스태킹

In [70]:
base_models = []

In [71]:
base_models.append(('lr', LogisticRegression()))
base_models.append(('xgb', XGBClassifier()))
base_models.append(('rf', RandomForestClassifier()))

In [72]:
meta_model = LogisticRegression()

In [73]:
clf = StackingClassifier(estimators=base_models, final_estimator=meta_model)

In [74]:
scores = cross_val_score(clf, X, y, cv=kfold)
print(scores.mean())

0.9789318428815401